body{
    color: red;
    background: black;
 margin: 0px

font-family 
}

headr {
    border-bottom: solid 1px red;
padding: 20px ;
font-size: 32;
color:red;
}

section{
    background-color: red;
    padding-bottom: 80px;
    padding-top: 80px;
    display:flex;
    justify-content: center
}
    
h1 {
    font-size: 40px;
}
img{
    height: 190px;
}

.categoria-videos{
    display:flex;
    overflow-x:auto;
    gap: 30px;
}

.categoria2{
    padding-left: 20px;
    padding-right: 20px;
}

